@import "src/themes.scss";

mat-toolbar {
  background-color: mat-color($primary, Light);
  margin-bottom: 20px !important;
  mat-toolbar-row {
    display: flex;
    height: 64px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    img {
      width: 43px;
      height: 43px;
    }
    nav {
      a {
        color: mat-color($foreground, Light);
        padding: 5px;
        font-size: medium;
        font-weight: 300;
        text-decoration: none;
      }
      .active {
        font-weight: 800;
      }
    }
    .user-buttons {
      a {
        margin: 0 0.5em;
      }
      font-size: medium;
    }
  }
}

.entities {
  margin: 0 0.5em;
  color: mat-color($primary);
  padding: 5px;
  font-size: medium;
  font-weight: 300;
  text-decoration: none;
}
