<div class="login">
  
  <h3>¿Olvido su contraseña?</h3>
  <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Ingrese su correo electrónico para reestablecer su contraseña</mat-label>
    <input matInput placeholder="Ex. prueba@gmail.com">
  </mat-form-field>
<div class="centrado">
   <button mat-stroked-button color="primary" type="submit">Enviar contraseña</button>
</div>
<div class="centrado">
   <button mat-stroked-button color="primary" (click)="volver()" type="submit">Volver</button>
</div>
</form>

</div>

