table {
  width: 100%;
}

.action-buttons {
  a {
    margin: 1em;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50vw;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.columnas {
  font-size: 18px;
  color: #ae897e;
}

.action-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  a,
  button {
    margin: 0.5em;
  }
}
.centrado{
    text-align: center;
}

.campos{
 text-align: center;
 font-size: 14px;
}