<div class="action-buttons">
  <a mat-raised-button routerLink="create" class="create-configuration"
    >Crear nueva configuración</a
  >
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 products-table"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>
      <strong class="columnas">ID</strong>
    </th>
    <td mat-cell *matCellDef="let configurations">{{ configurations.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <strong class="columnas">Nombre </strong>
    </th>
    <td mat-cell *matCellDef="let configurations">{{ configurations.name }}</td>
  </ng-container>
  <ng-container matColumnDef="sub_configuration">
    <th mat-header-cell *matHeaderCellDef>
      <strong class="columnas">Sub configuración </strong>
    </th>
    <td mat-cell *matCellDef="let configurations">
      {{ configurations.sub_configuration }}
    </td>
  </ng-container>
  <ng-container matColumnDef="extra_price">
    <th mat-header-cell *matHeaderCellDef>
      <strong class="columnas">Extra Price</strong>
    </th>
    <td mat-cell *matCellDef="let configurations">
      {{ configurations.extra_price }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <strong class="columnas">Acción</strong>
    </th>
    <td mat-cell *matCellDef="let configurations" class="action-column">
      <a mat-raised-button [routerLink]="['edit', configurations.id]">Editar</a>
      <button
        *ngIf="configurations.status == 1"
        mat-raised-button
        color="warn"
        (click)="deleteConfiguration(configurations.id)"
      >
        Eliminar
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
