@import "src/themes.scss";

form {
  background-color: none;
  mat-card {
    padding: 3em;
  }
  mat-card,
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #none {
    font-size: xx-small;
    color: red;
    margin: 2;
  }
}
