<form [formGroup]="form" (ngSubmit)="login($event)">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          placeholder="Correo"
          formControlName="email"
          required
          [pattern]="emailPattern"
          matInput
          type="email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <div *ngIf="email.errors">
        <div *ngIf="email.errors.pattern">Correo válido requerido.</div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña única</mat-label>
        <input
          placeholder="Contraseña"
          formControlName="password"
          matInput
          type="password"
        />
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
      <a>Olvide mi contraseña</a>
      <p><a>Crear una cuenta</a></p>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="accent"
        type="submit"
      >
        Ingresar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
