<mat-card>
  <div *ngIf="prod">
    <mat-card-title>{{ prod.name }}</mat-card-title>
    <div class="crop-image">
      <img mat-card-image src="{{ prod.image }}" alt="" />
    </div>
    <mat-card-content>
      <li style="list-style: none"><strong>Descripción</strong></li>
      <li style="list-style: none">{{ prod.description }}</li>
      <li style="list-style: none"><strong>Precio</strong></li>
      <li style="list-style: none">{{ prod.price | currency }}</li>

      <li style="list-style: none">
        <strong
          ><label id="example-radio-group-label">Caracteristicas</label></strong
        >
      </li>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectOptions"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let option of subconfiguration"
          [value]="option"
        >
          {{ option }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>


    </mat-card-actions>
  </div>
</mat-card>
