<mat-card>
  <div *ngIf="product">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <div class="crop-image">
      <img src="assets/images/shoes-tests/horlet.jpg" alt="" />
    </div>
    <mat-card-content>
      <li style="list-style: none"><strong>Descripción</strong></li>
      <li style="list-style: none">{{ product.description }}</li>
      <li style="list-style: none"><strong>Precio</strong></li>
      <li style="list-style: none">{{ product.price | currency }}</li>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          placeholder="Cantidad"
          pattern="^[0-9]+$"
          required
          type="number"
          min="0"
        />
        <mat-error> ¡Eliga una cantidad <strong>valida.</strong>! </mat-error>
      </mat-form-field>
      <button (click)="addCart()" mat-raised-button color="primary">
        Añadir al carrito
      </button>
    </mat-card-actions>
  </div>
</mat-card>
