<div class="login">
  <button routerLink="../admin/products/create" color="primary" class="create-account" mat-raised-button>form-product</button>
  <button routerLink="../admin/products" color="primary" class="create-account" mat-raised-button>products</button>
  <button routerLink="../admin/create" color="primary" class="create-account" mat-raised-button>create</button>
  <hr>
  <button routerLink="../admin/categories" color="primary" class="create-account" mat-raised-button>Categoría</button>
  <button routerLink="../admin/categories/create" color="primary" class="create-account" mat-raised-button>Crear categoría</button>
  <button routerLink="../admin/categories/edit" color="primary" class="create-account" mat-raised-button>Editar categoría</button>
  <hr>
  <button routerLink="../admin/configurations" color="primary" class="create-account" mat-raised-button>Configuraciónes</button>
  <button routerLink="../admin/configurations/create" color="primary" class="create-account" mat-raised-button>Crear configuración</button>
  <button routerLink="../admin/configurations/edit" color="primary" class="create-account" mat-raised-button>Editar configuración</button>
  <hr>
  <button routerLink="../admin/product-configurations" color="primary" class="create-account" mat-raised-button>Configuración de producto</button>
  <button routerLink="../admin/product-configurations/create" color="primary" class="create-account" mat-raised-button>product-configurations/create</button>
  <button routerLink="../admin/product-configurations/edit" color="primary" class="create-account" mat-raised-button>product-configurations/edit</button>
</div>