<table
  mat-table
  *ngIf="orderBillDescription"
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 products-table"
>
  <ng-container matColumnDef="id_bill">
    <th mat-header-cell *matHeaderCellDef class="centrado">
      <strong class="columnas">Id de pago </strong>
    </th>
    <td mat-cell *matCellDef="let orderBillDescription" class="campos">
      {{ orderBillDescription.id_bill }}
    </td>
  </ng-container>
  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef class="centrado">
      <strong class="columnas">Producto </strong>
    </th>
    <td mat-cell *matCellDef="let orderBillDescription" class="campos">
      {{ orderBillDescription.product_name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef class="centrado">
      <strong class="columnas">Cantidad </strong>
    </th>
    <td mat-cell *matCellDef="let orderBillDescription" class="campos">
      {{ orderBillDescription.quantity }}
    </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="centrado">
      <strong class="columnas">Precio </strong>
    </th>
    <td mat-cell *matCellDef="let orderBillDescription" class="campos">
      {{ orderBillDescription.price | currency }}
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="centrado">
      <strong class="columnas">Fecha </strong>
    </th>
    <td mat-cell *matCellDef="let orderBillDescription" class="campos">
      {{ orderBillDescription.date }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="centrado">
      <strong class="columnas">Estado de envío</strong>
    </th>
    <td mat-cell *matCellDef="let orderBillDescription" class="campos">
      {{ orderBillDescription.status }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
