<mat-card>
  <mat-card-title>{{ product.name }}</mat-card-title>
  <div class="crop-image">
    <img src="{{ product.image }}" alt="" />
  </div>
  <mat-card-content>
    <li style="list-style: none"><strong>Descripción</strong></li>
    <li style="list-style: none">{{ product.description }}</li>
    <li style="list-style: none"><strong>Precio</strong></li>
    <li style="list-style: none">{{ product.price | currency }}</li>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex; justify-content: flex-end; align-items: center; ">
      <input  [(ngModel)]="stock" class="add-product-quantity" pattern="^[0-9]+$" type="number"  min="0"  max="10" />
      <button (click)="addCart()" mat-raised-button color="primary">
        Añadir al carrito
      </button>
    </div>
  </mat-card-actions>
</mat-card>
