// :host {
//   margin: 2px;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: block;
// }
.crop-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

mat-card {
  padding: 2em;
  mat-card-title {
    text-align-last: center;
  }
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  mat-card-actions {
    text-align: right;
    text-align-last: right;
  }
}

#none {
  font-size: xx-small;
  color: red;
  margin: 2px;
}
button {
  width: 50%;
  margin: 1em;
  justify-content: center;
  position: relative;
  white-space: pre-wrap;
}
