.crop-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

mat-card {
  padding: 2em;
  width: 23em;
  height: 35em;
  mat-card-title {
    text-align-last: center;
  }
  mat-card-content {
    .configurations {
      margin: 1em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .selected-option {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
      }
    }
  }
  mat-card-actions {
    text-align: right;
    text-align-last: right;
    .add-product-quantity {
      border-width: 0.5px 0 0.5px 0.5px;
      border-radius: 1em 0em 0em 1em;
      outline: none;
      width: 10%;
      padding: 0.5px;
    }
    .add-product-quantity, button {
      height: 3em;
      border-color: #503229;
    }
    button {
      border-style: solid;
      border-width: 0.5px;
      border-radius: 0em 1em 1em 0em;
      margin: 0;
    }
  }
}
