section {
  background-color: white;
  padding: 2em;
  box-shadow: 0px 1px 4px 0px #888888;
  border-radius: .2em;
}

.example-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.payment-button {
  display: flex;
  justify-content: center;
  width: 100%;
    button {
      background-color: #65d565;
      float: right;
    }
  }
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .products {
    display: flex;
    flex-wrap: wrap;

    .product {
      width: 15vw;
      margin: 1em;
    }
  }
}

.image {
  max-width: 100%;
}

app-payment-gateway {
  padding: 10%;
}
