<section class="checkout">
  <div class="products" *ngIf="products">
    <p *ngIf="products.length === 0">No hay productos</p>
    <div class="payment-button">
      <button mat-raised-button (click)="pay()">Pagar</button>
    </div>
    <div class="row" *ngFor="let product of products">
      <section class="product">
        <div>
            <p>{{product.name}}</p>
        </div>
        <div *ngFor="let configuration of product.configurations">
          <b>{{ configuration.name }}: {{ configuration.configuration.sub_configuration }}</b>
        </div>
        <div>
            {{ product.price * product.configurations[product.configurations.length - 1].configuration.sub_configuration | currency }}
        </div>
      </section>
    </div>
  </div>

</section>

<!--<div>-->
<!--  <app-payment-gateway></app-payment-gateway>-->
<!--</div>-->
